<!DOCTYPE html>
<html lang="en"  ng-app="polls">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Polls </title>
   <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="./javascripts/angular.js"></script>
    <script src="./javascripts/angular-resource.js"></script>
    <script src="./javascripts/angular-route.js"></script>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="../chart.js/dist/Chart.min.js"></script>
    <script src="../angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="./javascripts/app.js"></script>
    <script src="./javascripts/services.js"></script>
    <script src="./javascripts/controllers.js"></script>

    <!-- NProgress
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet"> -->

    <!-- Custom Theme Style -->
    <link href="./stylesheets/custom.css" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="http://localhost:3000/polls" class="site_title"><i class="fa fa-paw"></i> <span>Poll Expert</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                  <% if(user.local.profpic){ %>
                        <img src="../<%= user.local.profpic %>" class="img-circle col-lg-3 profthumbs" >
                    <% } else{ %>
                        <img src="./images/defaultimage.png" class="img-circle col-lg-3 profthumbs" >
                    <% } %>
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2> <%= user.local.fname  %> <%= user.local.lname  %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
<!--
                  <li><a><i class="fa fa-home"></i> Home </a>

                  </li>            
-->
                  
                  <li >
                        <a href="/polls#/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                  </li>
                    
                 <li>
                        <a href="/polls"><i class="fa fa-fw fa-bar-chart-o"></i> Polls</a>
                 </li>
                <li>
                        <a href="/polls#/new"><i class="fa fa-fw fa-bar-chart-o"></i> New Polls</a>
                 </li>
                 
                    
                    
                  <li><a><i class="fa fa-edit"></i> Categories <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                       <li>
                                <a href="/polls#/entertainment">Entertainment</a>
                            </li>  
                            <li>
                                <a href="/polls#/sports">Sports</a>
                            </li>
                            <li>
                                <a href="/polls#/politics">Politics</a>
                            </li> 
                            <li>
                                <a href=" /polls#/general">General</a>
                            </li> 
                            <li>
                                <a href="/polls#/other">Others</a>
                            </li>   
                    </ul>
                  </li>
                 
              </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <!--<img src="images/img.jpg" alt="">-->
                      <% if(user.local.profpic){ %>
                        <img src="../<%= user.local.profpic %>" class="img-circle col-lg-3 ">
                    <% } else{ %>
                        <img src="./images/defaultimage.png" class="img-circle col-lg-3 " >
                    <% } %>

                      <%= user.local.fname  %> <%= user.local.lname  %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>


                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

              <!--  <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>-->
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main"  style="    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%);">

<div class="container" >
    <div class="col-md-6 col-md-offset-3" style="position: absolute; top: 20%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;">
<div class="panel panel-default newPolls">
  <h1 align="center"> Profile <img src="./images/profile%20logo.jpg"></h1><hr>
  <div class="row" style="margin-left:10%;">
      <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
<!--
      <div class="text-center">
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block well well-sm">
      </div>
-->
        <h3><label><span class="fa fa-user"></span> <%= user.local.fname %></label></h3>
                     <!--<img src="./images/2.png" class="img-circle col-lg-3 imgprof" >-->
                    <% if(user.local.profpic){ %>
                        <img src="../<%= user.local.profpic %>" class="img-circle col-lg-3 profilepic"  >
                    <% } else{ %>
                        <img src="./images/defaultimage.png" class="img-circle col-lg-3 profthumbs" >
                    <% } %>
                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <input type="file" name="file" style="color:white">
                           <!-- <input type="submit" name="submit" value="Upload">-->
                        <button class="btn btn-primary " type="submit" style="margin-right:10px;margin-top:5px"  >Submit </button>
                       <input type="hidden" name="email" value="<%= user.local.email %>">
                        </form>
    </div>
    <!-- edit form column -->
    <div class="col-md-7 col-sm-6 col-xs-12 personal-info">
        <label><h3>Personal info</h3></label>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input class="form-control" value="<%= user.local.userid %>" readonly type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="<%= user.local.fname %>" readonly type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" value="<%= user.local.lname %>" readonly type="text">
          </div>
        </div>
            <div class="form-group">
          <label class="col-lg-3 control-label">Phone Number:</label>
          <div class="col-lg-8">
            <input class="form-control" value="<%= user.local.phno %>" readonly type="text">
          </div>
        </div>
<!--
        <div class="form-group">
          <label class="col-lg-3 control-label">Company:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>
-->
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input class="form-control" value="<%= user.local.email %>" readonly type="text">
          </div>
        </div>
<!--
        <div class="form-group">
          <label class="col-lg-3 control-label">Time Zone:</label>
          <div class="col-lg-8">
            <div class="ui-select">
              <select id="user_time_zone" class="form-control">
                <option value="Hawaii">(GMT-10:00) Hawaii</option>
                <option value="Alaska">(GMT-09:00) Alaska</option>
                <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
                <option value="Arizona">(GMT-07:00) Arizona</option>
                <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
                <option value="Central Time (US &amp; Canada)" selected="selected">(GMT-06:00) Central Time (US &amp; Canada)</option>
                <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
                <option value="Indiana (East)">(GMT-05:00) Indiana (East)</option>
              </select>
            </div>
          </div>
        </div>
-->

<!--
        <div class="form-group">
          <label class="col-md-3 control-label">Password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input class="form-control" value="11111122333" type="password">
          </div>
        </div>
-->
<!--
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
-->
      </form>
    </div>
    </div></div></div>
</div>

          </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
          
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

      
      
      
        <!-- jQuery -->
    <script src="bootstrap/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
      
    <script src="./javascripts/custom.js"></script>  

 
    <!-- FastClick
    <script src="../vendors/fastclick/lib/fastclick.js"></script> -->
    <!-- NProgress 
    <script src="../vendors/nprogress/nprogress.js"></script>-->

  </body>
</html>
