<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/contactstyle.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="wrapper">
<!--        <div class="brand">Polling Application</div>-->

         <!-- Navigation -->
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/polls">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                    <li><a href="/polls#/polls">View Polls</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="/polls#/about">About Us</a></li>
                    <li><a href="/polls#/contact">Contact Us</a></li>
                    
                </ul>
      
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/profile"> <%= user.local.email %></a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container" id="profileform" >

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>

        </div>

        <div class="row" >

            <!-- LOCAL INFORMATION -->
            <div class="col-lg-6 span-9" style="overflow:hidden" >
                <div class="well well-lg" style="overflow:overlay" >
                   <h3><span class="fa fa-user"></span> User</h3>
                     <img src="./images/2.png" class="img-circle col-lg-3 imgprof" >

                    <p style="color:black">
                        <strong>id</strong>:
                        <%= user._id %>
                            <br>
                            <strong>First Name</strong>:
                            <%= user.local.fname %>
                            <br>
                             <strong>Last Name</strong>:
                            <%= user.local.lname %>
                           <br>
                            <strong>email</strong>:
                            <%= user.local.email %>
                                <br>
                                <strong>password</strong>:
                                <%= user.local.password %>
                    </p>

                </div>
            </div>

        </div>
         <!-- <a href="/polls" class="btn btn-default btn-sm">View Polls</a>-->

    </div>
        <div class="footer col-xs-12">
    © Copyright 2015 Polling Application. All Rights Reserved.
    </div>
</div>
</body>

</html>
